// SPDX-License-Identifier: MIT

.mfx-text-field {
  -fx-background-color: transparent;
  -fx-border-color: -color-border-default;

  > .text-field {
    -fx-highlight-fill: #32076e; /* Selected text highlight */
    -fx-prompt-text-fill: -color-fg-subtle; /* Prompt text color */
  }
}


.tree-table-row-cell:hover {
  -fx-background-color:  -color-bg-subtle;
}
.tree-table-row-cell:empty {
  -fx-background-color:  transparent;
}

.tree-table-view > .column-header-background .column-header .label {
  -fx-text-fill: -color-header-fg;
  -fx-alignment: CENTER;
  -fx-padding: 0 0.5em 0 0.5em;
}


.message {
  -color-message-bg: -color-bg-default;
  -color-message-fg: -color-fg-default;
  -fx-background-color: -color-message-bg;
  -fx-border-color: -color-message-fg;
  -fx-border-width: 0 0 0 5px;
  -fx-pref-width: 600px;
  -fx-alignment: TOP_LEFT;
}

.message > .header {
  -fx-font-weight: bold;
}

.message Text {
  -fx-fill: -color-message-fg;
}

.message > .button {
  -color-button-fg: -color-message-fg;
}

.message.info, .msg-icon.info {
  -color-message-bg: -color-accent-subtle;
  -color-message-fg: -color-accent-fg;
  -fx-text-fill: -color-accent-fg;
  -fx-icon-color: -color-accent-fg;
}

.message.success,.msg-icon.success {
  -color-message-bg: -color-success-subtle;
  -color-message-fg: -color-success-fg;
  -fx-text-fill: -color-success-fg;
  -fx-icon-color: -color-success-fg;
}

.message.warning,.msg-icon.warning {
  -color-message-bg: -color-warning-subtle;
  -color-message-fg: -color-warning-fg;
  -fx-text-fill: -color-warning-fg;
  -fx-icon-color: -color-warning-fg;
}

.message.danger, .msg-icon.danger {
  -color-message-bg: -color-danger-subtle;
  -color-message-fg: -color-danger-fg;
  -fx-text-fill: -color-danger-fg;
  -fx-icon-color: -color-danger-fg;
}