// SPDX-License-Identifier: MIT

@use "../theme/accent-colors" as ac;

@mixin hide() {
  -fx-min-width: 0;
  -fx-pref-width: 0;
  -fx-max-width: 0;
  -fx-min-height: 0;
  -fx-pref-height: 0;
  -fx-max-height: 0;
  visibility: false;
}

.root {
  -fx-font-family: "Inter";

  &:showcase-mode {

    #sidebar {
      @include hide();
    }

    .page {
      > .scroll-pane .user-content {
        -fx-padding: 0;

        > * {
          -fx-max-width: 4096px;
        }
      }

      .about {
        @include hide();
      }

      .credits {
        @include hide();
      }
    }
  }

  // accent colors
  &:accent-primer-purple {
    @include ac.primerPurpleLight();
  }

  &:accent-primer-pink {
    @include ac.primerPinkLight();
  }

  &:accent-primer-coral {
    @include ac.primerCoralLight();
  }

  &:dark {
    &:accent-primer-purple {
      @include ac.primerPurpleDark();
    }

    &:accent-primer-pink {
      @include ac.primerPinkDark();
    }

    &:accent-primer-coral {
      @include ac.primerCoralDark();
    }
  }


  .modal-dialog {
    -fx-background-color: transparent;
    -fx-border-width: 1;
    -fx-border-color: -color-border-default;

    > .card > VBox {
      -fx-padding: 20px 10px 20px 10px;
    }
  }

  .window-view {
    -fx-background-color: -color-bg-default;
    -fx-background-radius: 10;
    -fx-border-radius: 10px;
    -fx-border-color: -color-border-muted;
    -fx-border-width: 1px;
    -fx-effect: dropshadow(gaussian, black, 20, 0, 0, 0)
  }

  #decorator-button, #decorator-button-close {
    -fx-background-color: transparent;
  }

  #decorator-button:hover {
    -fx-background-color: -color-button-bg-hover;
  }

  #decorator-button-close:hover {
    -fx-background-color: -color-danger-emphasis;
  }

  #userBut .ikonli-font-icon {
    -fx-icon-size: 90px;
  }

  .theme-icon {
    -fx-background-color: -color-fg-default;
    -size: 16;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-shape: "M679.36 901.12h-312a112.32 112.32 0 0 1-115.2-109.12v-288a67.2 67.2 0 0 1-56.64-17.28l-94.4-85.76a64 64 0 0 1-20.48-46.08 64 64 0 0 1 20.48-45.76l168.96-156.48a68.48 68.48 0 0 1 64-15.04 123.2 123.2 0 0 1 32-4.48h68.48l2.88 28.8a82.56 82.56 0 0 0 84.8 69.44A82.24 82.24 0 0 0 608 161.92l2.88-28.8h68.48a123.52 123.52 0 0 1 32 4.48 68.16 68.16 0 0 1 64 15.04l168.96 156.48a61.76 61.76 0 0 1 20.48 45.76 64 64 0 0 1-20.48 46.08l-94.08 87.04a67.2 67.2 0 0 1-56.64 17.28v288a112.64 112.64 0 0 1-114.24 107.84zM316.16 374.4v417.6a48.64 48.64 0 0 0 51.2 45.12h312a48.64 48.64 0 0 0 51.52-45.12v-416l72 66.88a4.8 4.8 0 0 0 5.12 0l93.12-86.4-167.68-156.8a5.12 5.12 0 0 0-4.8 0l-13.44 7.68-14.4-5.76a54.4 54.4 0 0 0-21.44-4.16h-13.76a147.52 147.52 0 0 1-142.08 98.24 147.52 147.52 0 0 1-142.4-98.24h-13.76a55.68 55.68 0 0 0-21.44 4.16l-14.08 5.76-11.84-8a5.12 5.12 0 0 0-4.8 0l-170.56 156.48 94.08 85.44a5.44 5.44 0 0 0 5.44 0z";
  }

  .minus-icon {
    -fx-background-color: -color-fg-default;
    -size: 12;
    -fx-min-height: 2;
    -fx-min-width: -size;
    -fx-max-height: 2;
    -fx-max-width: -size;
    -fx-shape: "M804.571 420.571v109.714q0 22.857-16 38.857t-38.857 16h-694.857q-22.857 0-38.857-16t-16-38.857v-109.714q0-22.857 16-38.857t38.857-16h694.857q22.857 0 38.857 16t16 38.857z";

  }

  .resize-max-icon {
    -fx-background-color: -color-fg-default;
    -size: 12;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-shape: "M726 810v-596h-428v596h428zM726 44q34 0 59 25t25 59v768q0 34-25 60t-59 26h-428q-34 0-59-26t-25-60v-768q0-34 25-60t59-26z";
  }

  .resize-min-icon {
    -fx-background-color: -color-fg-default;
    -size: 12;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-shape: "M80.842 943.158v-377.264h565.894v377.264h-565.894zM0 404.21v619.79h727.578v-619.79h-727.578zM377.264 161.684h565.894v377.264h-134.736v80.842h215.578v-619.79h-727.578v323.37h80.842v-161.686z";
  }

  .close-icon {
    -fx-background-color: -color-fg-default;
    -size: 12;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-shape: "M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z";
  }

  #side-tree .tree-cell > .tree-disclosure-node > .arrow {
    -fx-shape: "";
    -fx-scale-shape: true;
    -fx-background-color: transparent;
  }

  #side-tree {
    //-fx-border-color: RED;
    -fx-border-width: 0 0 0 0;

    .tree-cell {
      -fx-background-color: -color-bg-default;
      -fx-font-size: 16px;

      &:hover {
        -fx-background-color: -color-bg-subtle;
      }

      &:selected {
        -fx-background-color: -color-accent-muted;
        -fx-font-weight: bold;
      }
    }

    .tree-cell:empty {
      &:hover {
        -fx-background-color: transparent;
      }
    }

    .tree-cell .ikonli-font-icon {
      -fx-icon-size: 24px;
    }

  }


  #side-menu-cell-selected {
    -fx-text-fill: -color-accent-fg;
    -fx-font-weight: bold;
  }


  #side-menu-bar {
    -fx-border-color: -color-border-default;
    -fx-border-width: 0 0 0 0;
    -fx-spacing: 5;
    -fx-padding: 5 0 0 0;
  }

  #side-menu {
    -fx-border-color: -color-border-default;
    -fx-border-width: 0 0.5px 0 0;
    -fx-background-color: -color-bg-default;
  }

  #side-menu-button .ikonli-font-icon {
    -fx-icon-size: 26px;
  }

  #header {
    -fx-background-color: -color-bg-inset;
    -fx-background-radius: 10px 10px 0px 0px;
  }

  .main-view .tab-pane > .tab-header-area > .headers-region > .tab {

    -fx-padding: 10px;
  }

  .tab-center-pane {
    -fx-background-color: -color-bg-inset;
    -fx-padding: 10px;

    .sample {
      -fx-padding: 10px;
      -fx-background-color: -color-border-subtle, -color-bg-default;
      -fx-background-insets: 0, 1;
      -fx-background-radius: 10px;
    }
  }

  #main-tab {
    -fx-font-size: 16px;
  }

  .tree-table-view > .column-header-background .column-header .label {
    -fx-text-fill: -color-header-fg;
    -fx-alignment: CENTER;
    -fx-padding: 0 0.5em 0 0.5em;
  }

  .table-view > .column-header-background .column-header .label {
    -fx-text-fill: -color-header-fg;
    -fx-alignment: CENTER;
    -fx-padding: 0 0.5em 0 0.5em;
  }

  .default-color0.chart-bar {
    -fx-bar-fill: #3B82F6
  }

  .default-color1.chart-bar {
    -fx-bar-fill: #EAB308
  }

  .default-color2.chart-bar {
    -fx-bar-fill: #22c55e
  }

  #w-progress-bar .bar {
    -fx-background-color: linear-gradient(to right, #4DA1FF, #4DFFDF);
  }

  #w-progress-bar1 .bar {
    -fx-background-color: linear-gradient(to right,#4da1ff, #4dffdf );
  }

  #w-progress-bar2 .bar {
    -fx-background-color: linear-gradient(to right,  #7517F8 ,#E323FF);
  }


  #w-progress-bar3 .bar {
    -fx-background-color: linear-gradient(to right,#FF7D05, #FFD422);
  }


}
